/* #EAEAEA, #DBDBDB, #F2F2F2, #ADA996 */

/* 500px, 650px, 800px, 1500px */

body {
  font-family: 'Roboto', sans-serif;
  color: #807F78;
}

a {
  text-decoration: none;
}

.content {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.container {
  margin: 0 15%;
}

@media screen and (max-width: 650px) {
  .container {
    margin: 0 5%;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    margin: 0 auto;
    max-width: 1050px;
  }
}

.delimiter {
  height: 10px;
  width: 1px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.navbar {
  padding: 10px 0px;
  border: 3px solid #999999;
  border-radius: 15px;
}

.navbar-icon {
  width: 100px;
  height: 100px;
  display: none;
}

.navbar-icon.no-hide {
  display: block;
}

@media screen and (max-width: 500px) {
  .navbar-icon {
    width: 75px;
    height: 75px;
  }
}

.navbar .heading {
  line-height: 100px;
  height: 100px;
}

.navbar .title {
  font-size: 3.75em;
  margin-bottom: 20px;
}

.navbar .title>* {
  margin: 0 10px;
}

@media screen and (max-width: 800px) {
  .navbar-icon {
    display: block;
  }
  .navbar .heading {
    display: none;
  }
  .navbar .title {
    margin-left: 0px;
  }
}

.menu {
  margin-top: 25px;
  /* text-align: center; */
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.25em;
}

@media screen and (max-width: 800px) {
  .menu {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    flex-wrap: wrap;
  }
  .menu.menu>* {
    box-sizing: border-box;
    flex: 0 0 90%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .menu.menu .active {
    transform: none;
  }
  .avatar.avatar {
    padding: 0.25em 0.6em;
    margin: 5px 0px;
    border: 1px solid #ADA996;
    border-radius: 4px;
    transition: 0.3s;
  }
  .avatar>img {
    height: 30px;
    width: 30px;
  }
  .avatar:hover {
    background: #F2F2F2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  avatar.active {
    background: #F2F2F2;
  }
  .last {
    order: 1;
  }
}

.navbar-link {
  padding: 0.25em 0.6em;
  margin: 5px 10px 5px 0px;
  border: 1px solid #ADA996;
  font-weight: 300;
  border-radius: 4px;
  color: #807F78;
  cursor: pointer;
  flex: 0 1 auto;
  transition: 0.3s;
}

@media screen and (min-width: 800px) {
  .navbar-link:first-child {
    margin: 5px 10px 5px 20px;
  }
}

.navbar-link:hover,
.navbar-link.active {
  background: #F2F2F2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

avatar.active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.interactive:active {
  transform: scale(1.05);
}

.navbar-link:active,
.navbar-link.active {
  transform: scale(1.05);
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr 3fr 1fr;
}

.welcome-modal {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #999999;
  border-radius: 15px;
  background: #F2F2F2;
}

.auth-title {
  display: flex;
  margin-bottom: 5px;
}

.auth-title .title {
  margin: 0;
  font-size: 1.5em;
}

.auth-title .icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: auto;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}

.flipped:active {
  transform: rotateY(180deg) scale(1.05);
}

@media screen and (max-width: 800px) {
  .auth-title {
    justify-content: center;
  }
}

.auth-form .wrapper {
  display: flex;
}

.input-group {
  display: inline-block;
  margin: 0 auto;
}

.input-group label {
  display: block;
}

.input-group input {
  background: #F2F2F2;
  border: 2px solid #DBDBDB;
  padding: 5px 5px 3px;
  outline: none;
  margin: 0 0 10px;
}

.input-group input:focus {
  border: 2px solid #ADA996;
}

.disabled {
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
  color: #807F78;
  animation: pulse-lg 0.5s ease-out forwards;
}

@keyframes pulse-lg {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.change-state-btn {
  border: none;
  padding-bottom: 2px;
  background: transparent;
  cursor: pointer;
  color: #807F78;
  outline: none;
  margin: 0px;
  padding: 0px;
}

.change-state-btn:hover {
  text-decoration: underline;
}

.login-greeting {
  display: flex;
}

.subtitle {
  margin: 0 0 10px 7px;
  line-height: 35px;
  font-size: 1.5em;
  font-weight: 300;
}

.avatar-tiny {
  width: 35px;
  height: 35px;
}

.avatar {
  margin: 0 20px -2.25em auto;
  /* height: 1.75em; */
  /* width: 1.75em; */
  height: 4em;
  width: 4em;
  transform: translateY(-2em);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .avatar {
    margin: 0;
    height: 2em;
    width: 2em;
    transform: none;
  }
}

.auth-error {
  visibility: hidden;
  border: 1px solid #ADA996;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}

.auth-error.visible {
  visibility: visible;
  animation: pulse-sm 0.5s ease-out forwards;
}

@keyframes pulse-sm {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

.dashboard {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  .dashboard {
    grid-template-columns: repeat(5, 1fr);
  }
}

.team {
  border: 1px solid #999999;
  background: #EAEAEA;
  color: #807F78;
  border-radius: 10%;
  transition: 0.3s;
  font-size: 1.20em;
}

.team .wrapper {
  margin: 10px 10px 5px;
  cursor: pointer;
}

.team:hover {
  background: #F2F2F2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-crest {
  border: 1px solid rgb(154, 154, 154);
  border-radius: 50%;
}

.team .team-crest {
  margin: 0 7.5%;
}

.team-name {
  padding: 2px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  display: block;
  text-align: center;
}

.team .team-stats {
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
}

.team .team-stats div div {
  text-align: center;
}

.team-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.team-details .heading {
  margin-bottom: 20px;
  font-size: 3em;
  flex: 0 0 100%;
}

.team-details .wrapper {
  flex: 1 1 0;
}

.team-details .team-crest {
  max-width: 175px;
  margin: 0 auto;
  display: block;
}

.team-details .team-stats {
  display: flex;
  margin-left: 20px;
  border: 2px solid #999999;
  border-radius: 15px;
  max-width: 500px;
  font-size: 2em;
  justify-content: space-evenly;
  align-items: center;
  flex: 2 1 0;
}

.team-details .stat-icon {
  width: 50px;
  height: auto;
}

.team-details .stat-icon.smaller {
  transform: scale(0.9) translateY(5px);
}

.team-details .team-stats div div {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .team-details .wrapper {
    flex: 0 0 100%;
  }
  .team-details .team-crest {
    max-width: 120px;
  }
  .team-details .team-stats {
    margin: 20px 0px;
  }
  .team-details .stat-icon {
    margin-top: 10px;
    width: 35px;
  }
}

.matches {
  margin-top: 20px;
}

.matches .match {
  display: flex;
  border: 1px solid #999999;
  border-radius: 4px;
  justify-content: center;
}

.matches .match:not(:last-child) {
  margin-bottom: 20px;
}

.match .team-crest {
  max-height: 35px;
  margin: 0 10px;
  width: auto;
}

.match .match-summary {
  margin: auto 0px;
  font-size: 1.30em;
}

.match {
  position: relative;
  transition: 0.3s;
}

.match:hover {
  background: #F2F2F2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.match .result {
  position: absolute;
  top: 25%;
}

.match .flex {
  justify-content: center;
  flex: 1;
}

.match .flex:first-child {
  justify-content: flex-end;
  margin-right: 10px;
}

.match .flex:last-child {
  justify-content: flex-start;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}